<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dentist" class="org.dentist.dentist.domain.Dentist">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="databaseDentist" class="org.dentist.dentist.domain.DatabaseDentist">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="user" class="org.dentist.user.domain.User">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="databaseUser" class="org.dentist.user.domain.DatabaseUser">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

</beans>